/* HomeView.module.css */

.bridge {
  position: relative; /* Required for absolute positioning of pseudo-elements */
  height: 2.5rem; /* Height of the bridge */
  background-color: var(--mantine-color-mutedBlue-0);
  width: 2px; /* Width of the bridge */
  margin: 0 auto; /* Center the bridge */
}

.bridge::before,
.bridge::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 10px; /* Diameter of the semi-circle */
  height: 10px; /* Diameter of the semi-circle */
  background-color: var(--mantine-color-mutedBlue-4); /* Color of the semi-circle */
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--mantine-color-darkGray-2);
  z-index: 1;
}

.bridge::before {
  top: -5px; /* Half of the height to align with the top edge */
}

.bridge::after {
  bottom: -5px; /* Half of the height to align with the bottom edge */
}
