.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0 4px 4px 0 !important;
    transition:
      transform 150ms ease,
      box-shadow 100ms ease;
    padding: var(--mantine-spacing-xs);
    padding-left: calc(var(--mantine-spacing-xs) * 2);
    background-image: linear-gradient(
      to right,
      var(--mantine-color-dark-8),
      var(--mantine-color-dark-8)
    ) !important;
  
    &:hover {
      box-shadow: var(--mantine-shadow-md);
      transform: scale(1.02);
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 4px;
      background-image: linear-gradient(
        0,
        var(--mantine-color-teal-6),
        var(--mantine-color-cyan-6)
      );
    }
  }