@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,500;6..12,600&display=swap');

.navbar {
    padding: var(--mantine-spacing-xs);
    display: flex;
    flex-direction: column;
  }

  .linkText {
    user-select: none;
    display: flex;
    margin: 8px 16px 8px;
    padding: 2px;
    align-items: center;
    text-decoration: none;
    position: relative; /* Needed for absolute positioning of pseudo-elements */
    overflow: hidden; /* Ensures the pseudo-element doesn't extend outside */
  }


.linkText:not(.linkActive):hover {
  color: var(--mantine-color-gray-2) !important;
  background: linear-gradient(106deg, rgba(2,0,36,0) 0%, rgba(0,0,0,0.2) 100%) !important;
}

.linkIcon {
  margin-left: -16px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  transition-duration: 300ms;
  background-color: var(--mantine-color-dark-8);
  padding: 6px;
  border-radius: 8px;
}

.linkActive.linkActive {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--mantine-color-darkGray-1);
  color: rgba(255, 255, 255, 0.842) !important;
}
.linkActive .linkIcon {
  margin-left: 4px;
  position: relative; /* To position the pseudo-element */
  transition: margin-left 0.3s ease; /* Smooth transition for margin change */
}

.subViewsContainer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-out;
}

.navDivider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Adjust color as needed */
  margin: 10px 0; /* Space above and below the divider */
}
