/* styles.css */

.buttonHoverEffect {
    transition: filter 0.3s ease-out, box-shadow 0.3s ease-out !important;
}

.buttonHoverEffect:hover {
    filter: hue-rotate(-20deg) contrast(120%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  